<ion-header>
  
  <ion-toolbar background color="danger" >
    
    <ion-avatar slot="end" routerLink="/iniciosesion" >
      <img src="/assets/zero-two-ok.gif"  >
    </ion-avatar>
    <ion-button background color="danger" slot="start" routerLink="/tabs/carritodecompra" >
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  
  <ion-title style="text-align: center;">Articulos Anime</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-grid fixed>

    <ion-row>

      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"

                  *ngFor ="let noticia of noticias; let i= index">
                  <ion-card  style="background-color: rgba(255, 0, 0, 0.363);">

                    <ion-card-header>

                      <ion-card-subtitle>

                          <span class="text">{{i + 1 }}</span>

                          <span class="noticia-name">{{noticia.source.name}} </span>

                      </ion-card-subtitle>

                      <ion-card-title>{{noticia.title}}</ion-card-title>

                    </ion-card-header>
                    <ion-img  *ngIf="noticia.urlToImage"

                        [src]="noticia.urlToImage"></ion-img>

                        <ion-card-content >

                          <p class="noticia-description">

                            {{noticia.description}}

                          </p>

                        </ion-card-content>

                        <ion-card-content>

                          <p class="noticia-description">

                            {{noticia.description}}

                          </p>

                        </ion-card-content>



                    </ion-card>

                </ion-col>

              </ion-row>

            </ion-grid>

        </ion-content>
