.text{

  color:aliceblue !important;



}

.noticia-name{

  font-size: 12px;

  color:lightgray;

  text-align:justify

}

.noticia-description{
  color:lightgray;
  text-align:justify
}
ion-content.background{

  --background: url(/assets/img/gif2.gif) 0 0/100% 100% no-repeat;

}