<ion-tabs >
  <ion-tab-bar slot="bottom" background color="danger">
    <ion-tab-button tab="inicio">
      <img src="/assets/hatsunemiku.gif">
      <ion-label>inicio</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="alert">
      <img src="/assets/ram-png.gif">
      <ion-label>Galeria</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="action-sheet">
      <img src="/assets/rem-transparent.gif">
      <ion-label>VentaArticulos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticia">
      <img src="/assets/aqua.gif">
      <ion-label>noticias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>