<ion-header>
  
  <ion-toolbar background color="danger" >
    
    <ion-avatar slot="end" routerLink="/iniciosesion" >
      <img src="/assets/zero-two-ok.gif"  >
    </ion-avatar>
    <ion-button background color="danger" slot="start" routerLink="/tabs/carritodecompra" >
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  
  <ion-title style="text-align: center;">Articulos Anime</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="background">


<ion-searchbar  style="background-color: rgba(255, 0, 0, 0.363);"></ion-searchbar>
<ion-card style="background-color: rgba(255, 0, 0, 0.363);" class="ion-padding">
  <ion-card-header>
    
    
  </ion-card-header>
  <img src="/assets/tazaumaru.jpg" class="ion-padding" routerLink="/tabs/inicio">
  <ion-card-title >Himouto Umaru-chan</ion-card-title>
    <ion-card-subtitle>$20.000</ion-card-subtitle>
    <ion-button background color="danger" expand="block" shape="round" routerLink="/tabs/inicio">
      <ion-icon slot="start" name="star"></ion-icon>
      Comprar
    </ion-button>
    <ion-button background color="danger" expand="block" shape="round" routerLink="/tabs/inicio">
      Carrito
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
</ion-card>

<ion-card style="background-color: rgba(89, 0, 255, 0.404);" class="ion-padding">
  <ion-card-header>
    
    
  </ion-card-header>
  <img src="/assets/tazarezero.jpg" class="ion-padding" routerLink="/tabs/inicio">
  <ion-card-title >Re zero</ion-card-title>
    <ion-card-subtitle>$20.000</ion-card-subtitle>
    <ion-button background color="tertiary" expand="block" shape="round" routerLink="/tabs/inicio">
      <ion-icon slot="start" name="star"></ion-icon>
      Comprar
    </ion-button>
    <ion-button background color="tertiary" expand="block" shape="round" routerLink="/tabs/inicio">
      Carrito
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
</ion-card>

<ion-card style="background-color: rgba(0, 238, 255, 0.404);" class="ion-padding">
  <ion-card-header>
    
    
  </ion-card-header>
  <img src="/assets/tazaheroescudo.jpg" class="ion-padding" routerLink="/tabs/inicio" >
  <ion-card-title >Himouto Umaru-chan</ion-card-title>
    <ion-card-subtitle>$20.000</ion-card-subtitle>
    <ion-button background color="secondary" expand="block" shape="round" routerLink="/tabs/inicio">
      <ion-icon slot="start" name="star"></ion-icon>
      Comprar
    </ion-button>
    <ion-button background color="secondary" expand="block" shape="round" routerLink="/tabs/inicio">
      Carrito
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
</ion-card>


</ion-content>
