<ion-header>
  
  <ion-toolbar background color="danger" >
    
    <ion-avatar slot="end" routerLink="/iniciosesion" >
      <img src="/assets/zero-two-ok.gif"  >
    </ion-avatar>
    <ion-button background color="danger" slot="start" routerLink="/tabs/carritodecompra" >
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  
  <ion-title style="text-align: center;" style="font-size: 15px;">carrito de compra</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

